<title><%=@user.screenname%></title>
<h1><%=@user.screenname%></h1>

<br>

<h3>Hello, <%=@user.screenname%>! </h3><br>
<p>You have <%=pluralize(@user.posts.count, "scribbles")%> on your whiteboard.</p>

<br>

<ul>
  <% @user.posts.each do |post| %>
    <li><%= post.title %><br>
        <%= post.create_at %></li>
  <% end %>
</ul>

<p>
<%= link_to "Make a New Scribble", new_post_path %>
</p>