<!DOCTYPE html>
<html>
<head>
  <title>Whiteboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header class="navbar navbar-inverse">
      <div class="navbar-inner">
        <%= link_to "Whiteboard", root_path, class: "brand" %>
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Sign-In", signin_path %></li>
          <li><%= link_to "About Us", aboutus_path %></li>
          <li><%= link_to "Contact",  contact_path %></li>
          <li><%= link_to "Sign-Up", signup_path %></li>
        </ul>
      </div>
    </header>
<%= yield %>

  <footer>
      <hr>
      &copy; 2013 {Sassy Hash}
    </footer>

  </div>
</body>
</html>


